<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
  Тобі дано {% if is_js %}масив{% else %}список{% endif %} цілих чисел.
  Твоє завдання в цій місії - знайти, скільки разів змінювався напрямок сортування в даному {% if is_js %}масиві{% else %}списку{% endif %}. Якщо елементи рівні - попередній напрямок сортування залишається незмінним, якщо послідовність починається з однакових елементів - шукай наступний відмінний, щоб визначити напрямок сортування.
</p>
<p>
  Давай поглянемо на схему:
</p>
<p style="text-align: center;">
    <img  title="changing_dir" src="{{MEDIA}}changing_dir.png" alt="changing_dir" style="max-height: 255px"/>
</p>
<p>
  Є три напрямки сортування:
  <ul>
    <li>на ділянці <b class="code">1, 2, 2</b> - up (зростаючий);</li>
    <li>на ділянці <b class="code">2, 1</b> - down (спадний);</li>
    <li>і на ділянці <b class="code">1, 2, 2</b> - знову up.</li>
  </ul>
  Отже, у тебе є дві точки зміни напрямку сортування: #1 - від up до down, і #2 - від down до up. Це результат, який повинна повернути твоя функція.
</p>
<p>
  <strong>Вхідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %} цілих чисел.
</p>

<p>
  <strong>Вихідні дані:</strong> Ціле число.
</p>

<div class="for_info_only">
  <p>
      <strong>Приклади:</strong>
  </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
     <strong>Передумова:</strong>
      <ul>
     <li><i>список не порожній;</i></li>
     <li><i>елементи в списку є натуральними числами.</i></li>
    </ul>
</p>