<p>
  You are given {% if is_js %}an Array of numbers{% else %}a list of integers{% endif %}.
  Your task in this mission is to find, how many times the sorting direction was changed in the given {% if is_js %}Array{% else %}list{% endif %}. If the elements are equal - the previous sorting direction remains the same, if the sequence starts from the same elements - look for the next different to determine the sorting direction.
</p>
<p>
  Let's look on the scheme:
</p>
<p style="text-align: center;">
    <img  title="changing_dir" src="{{MEDIA}}changing_dir.png" alt="changing_dir" style="max-height: 255px"/>
</p>
<p>
There are three sorting directions:
<ul>
  <li>on the chunk <b class="code">1, 2, 2</b> - up (increasing);</li>
  <li>on the chunk <b class="code">2, 1</b> - down (decreasing);</li>
  <li>and on the chunk <b class="code">1, 2, 2</b> - up again.</li>
</ul>
So, you have two points of changing the sorting direction: #1 - from up to down, and #2 - from down to up. That's the result your function should return.
</p>
<p>
  <strong>Input:</strong> {% if is_js %}An Array of numbers{% else %}A list of integers{% endif %}.
</p>

<p>
  <strong>Output:</strong> {% if is_js %}Number{% else %}Integer{% endif %}.
</p>

<div class="for_info_only">
  <p>
      <strong>Examples:</strong>
  </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p>
    <strong>Precondition:</strong>
    <ul>
    <li><i>the list is non-empty;</i></li>
    <li><i>the elements in the list are positive integers.</i></li>
    </ul>
</p>
