<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
  You are given a sequence of integers. Your task in this mission is to find, how many times the sorting direction was changed in the given sequence. If the elements are equal - the previous sorting direction remains the same, if the sequence starts from the same elements - look for the next different to determine the sorting direction.
</p>
<p>
  Let's look at the scheme:
</p>
<p style="text-align: center;">
    <img  title="changing_dir" src="{{MEDIA}}changing_dir.png" alt="changing_dir" style="max-height: 255px"/>
</p>
<p>
There are three sorting directions:
<ul>
  <li>on the chunk <b class="code">1, 2, 2</b> - up (increasing);</li>
  <li>on the chunk <b class="code">2, 1</b> - down (decreasing);</li>
  <li>and on the chunk <b class="code">1, 2, 2</b> - up again.</li>
</ul>
So, you have two points of changing the sorting direction: #1 - from up to down, and #2 - from down to up. That's the result your function should return.
</p>
<p>
  <strong>Input:</strong> <span translate="repeat">{% if is_js %}Array{% else %}List{% endif %}</span> of integers <span translate="no">{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<p>
  <strong>Output:</strong> An integer <span translate="no">{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<div class="for_info_only">
  <p>
      <strong>Examples:</strong>
  </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>the sequence is non-empty;</i></li>
    <li><i>the elements are positive integers.</i></li>
    </ul>
</p>
