<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
  Дан {% if is_js %}массив из чисел{% else %}список, состоящий из целых чисел{% endif %}.
  Ваша задача выяснить сколько раз в нем меняется направление при переходе от одного числа к другому. Если числа равны, то направление не меняется. В случае, если следующий элемент отличается от предыдущего - необходимо определить в какую сторону поменялось направление.
</p>
<p>
  Давайте взглянем на схему:
</p>
<p style="text-align: center;">
    <img  title="changing_dir" src="{{MEDIA}}changing_dir.png" alt="changing_dir" style="max-height: 255px"/>
</p>
<p>
На ней изображено следующее:
<ul>
  <li>для фрагмента <b class="code">1, 2, 2</b> - направление идет вверх;</li>
  <li>для фрагмента <b class="code">2, 1</b> - идет вниз;</li>
  <li>для фрагмента <b class="code">1, 2, 2</b> - снова возрастает.</li>
</ul>
Так что в данном примере есть всего две точки смены направления: #1 - направление меняется с возрастающего на убывающее, и #2 - наоборот, начинает опять расти вверх.
</p>
<p>
  <strong>Входные данные:</strong> {% if is_js %}Массив чисел{% else %}Список целых чисел{% endif %}.
</p>

<p>
  <strong>Выходные данные:</strong> {% if is_js %}Число{% else %}Целое число{% endif %}.
</p>

<div class="for_info_only">
  <p>
      <strong>Примеры:</strong>
  </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p>
    <strong>Предусловие:</strong>
    <ul>
    <li><i>Список не может быть пустым;</i></li>
    <li><i>Все элементы в списке являются положительными целыми числами.</i></li>
    </ul>
</p>
